<h2>
<p>Calendar By Bhavaran Senapathi and Mayyin O'Neill</p>
<%= link_to "<<    ", :month => (@date.last_year).strftime("%Y-%m-01") %>
<%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-01") %>
  <%= h  @date.strftime("%B %Y") %>
<%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-01") %>
<%= link_to "   >>", :month => (@date.next_year).strftime("%Y-%m-01") %>
</h2>
<script language="javascript"> </script>

<form>
<div>
Appointment Description:
<input type="text" class="default-value" id="appointment" name="appointment" value="" />
Appointment Time:
<select id="apptime">
  <% (0..23).each do |hour| %>
     <option value="<%= hour %>">
     <%= "#{hour < 10 ? '0' : ''}#{hour}" %>
   <% end %>
</select>
</div>
</form>
<table id="calendar" class = "calendar">

<tr>
    <th>Sun</th>
    <th>Mon</th>
    <th>Tue</th>
    <th>Wed</th>
    <th>Thu</th>
    <th>Fri</th>
    <th>Sat</th>
</tr>

<tr>


<% (@date.beginning_of_month..@date.end_of_month).each do |d| %>
<% if d==@date.beginning_of_month %>
<% (0..d.wday-1).each do |d| %> 
       <td> </td>
  <%  end %>
 <% end %>
<% if d.wday == 0 %>
      </tr><tr id="calrow">
<% end %>
<% if @date.year==Date.today.year && @date.mon == Date.today.mon &&  d.day == Date.today.day %>
	<td id='sameday' class='on'>
<% end %> 
<% if  @date.year != Date.today.year || @date.mon !=Date.today.mon ||d.day != Date.today.day %>
       <td id='nottoday' class='apptdesc'>
<% end %>
    <%= d.day %> </td>

<% end %>
</tr>

</table>

<script type "text/javascript">

  $(document).ready(function() {
     $(".calendar td").click(function() { 
          
          var desc = (document.getElementById('appointment').value);
          if (desc != ""){
            if ($(this).attr('id')){
                $('.calendar td').removeClass('on');
                $(this).addClass("on");
                $(this).append(" " + desc + " " + document.getElementById('apptime').value);

            }
          }                
     });
 });
 </script>          
